.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.deco {
  background: #67a6c5;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.mat-expansion-panel-header{
  padding: 12px 24px;
}
