.example-button-row button,
.example-button-row a {
  margin-right: 80px;
}

.deco {
  background: #67a6c5;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.mat-icon {
  font-size: 50px;
}