<div class="deco">
    <div>

        <h1>Belive Us, We Can Help</h1>
        <h2>Please Select Your Illness</h2>
    </div>
    <mat-selection-list #selectedIllness [multiple]="false">
        <a routerLink="/pain-grading" class="anchor-style">
        <mat-list-option *ngFor="let illness of illnesses" [value]="illness.name" (click) = "onSubmit(selectedIllness.selectedOptions.selected[0]?.value)">
            <div >
                <mat-icon color="blue">
                    sick
                </mat-icon>
                {{illness.name}}
            </div>
        </mat-list-option>
    </a>
    </mat-selection-list>

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Page Number</mat-label>
          <input matInput placeholder="Page Number" [formControl]= "pageNumber" >
        </mat-form-field>
    
        
    </form>
    <button mat-raised-button (click)="onClick()">Submit</button>

</div>

